name: tests

on: [push, pull_request, workflow_dispatch]

permissions: read-all

jobs:
  code-analysis:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    name: Java ${{ matrix.java }} code analysis
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-ca-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-ca-
      - name: Code Analysis
        run: mvn --batch-mode --activate-profiles github install pmd:check pmd:cpd-check license:check javadoc:jar -DskipTests=true
  unit-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    name: Java ${{ matrix.java }} unit test
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-ut-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-ut-
      - name: Unit Tests
        run: mvn --batch-mode --activate-profiles github test jacoco:report
      - name: Upload test coverage report
        uses: codecov/codecov-action@54bcd8715eee62d40e33596ef5e8f0f48dbbccab # v4.1.0
        with:
          files: ./ecaudit/target/site/jacoco/jacoco.xml,./common/target/site/jacoco/jacoco.xml,./eclog/target/site/jacoco/jacoco.xml
          flags: unit-tests
          fail_ci_if_error: false
          verbose: true
  unit-tests-java-target:
    runs-on: ubuntu-latest
    name: Java 17 target 17 unit test
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK 17
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: Cache Maven packages
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-ut-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-ut-
      - name: Unit Tests
        run: mvn --batch-mode --activate-profiles github test jacoco:report -Dmaven.compiler.target=17 -Dmaven.compiler.source=17
      - name: Upload test coverage report
        uses: codecov/codecov-action@54bcd8715eee62d40e33596ef5e8f0f48dbbccab # v4.1.0
        with:
          files: ./ecaudit/target/site/jacoco/jacoco.xml,./common/target/site/jacoco/jacoco.xml,./eclog/target/site/jacoco/jacoco.xml
          flags: unit-tests
          fail_ci_if_error: false
          verbose: true
  integration-tests:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [ '11', '17' ]
    name: Java ${{ matrix.java }} integration tests
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK ${{ matrix.java }}
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'adopt'
          java-version: ${{ matrix.java }}
      - name: Cache Maven packages
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-it-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-it-
      - name: Integration Tests
        run: mvn --batch-mode --activate-profiles github test-compile failsafe:integration-test failsafe:verify
  integration-tests-java-target:
    runs-on: ubuntu-latest
    name: Java 17 target 17 integration tests
    steps:
      - name: Checkout
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
      - name: Set up JDK 17
        uses: actions/setup-java@387ac29b308b003ca37ba93a6cab5eb57c8f5f93 # v4.0.0
        with:
          distribution: 'adopt'
          java-version: '17'
      - name: Cache Maven packages
        uses: actions/cache@13aacd865c20de90d75de3b17ebe84f7a17d57d2 # v4.0.0
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-m2-it-${{ hashFiles('**/pom.xml') }}
          restore-keys: ${{ runner.os }}-m2-it-
      - name: Integration Tests
        run: mvn --batch-mode --activate-profiles github test-compile failsafe:integration-test failsafe:verify -Dmaven.compiler.target=17 -Dmaven.compiler.source=17
